<h2>テーマ</h2>
</br>
<div class="category">
    <h1><%= @theme.name %></h1>
</div>
</br>
</br>

<h4>今からテーマについて話してください。</h4>
<h4>自分の考えとその理由を話してください。</h4>
</br>
<div class="top-btn">

    <div class="top-btn2">
        <%= link_to '　　話し手が話しにくいとき　　', pages_deadlock_url, class: 'btn btn-info btn-lg' %></div>
</div>

<h4>話し手の話が終わったら、聞き手は一人ずつ、質問カードを引いて、話し手に質問してください。</h4>


</div>
<div class="top-btn">
    <div class="top-btn2">
        <%= link_to '　　　質問カードをひく　　　', theme_questions_random_url(theme_id: @theme.id), class: 'btn btn-info btn-lg' %>
    </div>
</div>
</br>
<h4>テーマを選びなおしたいとき</h4>
<div class="top-btn">
    <div class="top-btn2">
        <%= link_to '初級編',  category_themes_random_url(category_id: 1), class: 'btn btn-info btn-lg' %></div>

    <div class="top-btn2">
        <%= link_to '中級編',  category_themes_random_url(category_id: 2), class: 'btn btn-info btn-lg' %></div>

    <div class="top-btn2">
        <%= link_to '進路編',  category_themes_random_url(category_id: 3), class: 'btn btn-info btn-lg' %></div>
</div>