<h2>しりとり</h2>

</h5>
<div class="container container-m">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h5>つぎのテーマでしりとりをします。
                <div class="category">
                    <h2> <%= %w[行ったことがある場所 食べもの 地名 動物の名前 植物の名前 身につけるもの 人の名前 スポーツ選手の名前 スーパーマーケットで売っているもの].sample %>
                    </h2>
                </div>


                <h5>下の文字からスタートしてください。</br>タイマーか時計で1分間測ってください。</h5>
                <div class="category">
                    <h1> <%= %w[あ ぎ て き り へ ぱ む ひ ば が た と よ み れ ろ わ い う え お か さ み め ら し な に ぬ ね の].sample %>
                    </h1>
                </div>

                <div class="top-btn">
                    <div class="top-btn2">
                        <%= link_to 'テーマを選びなおす', pages_shiritori_url, class: 'btn btn-outline-secondary btn-lg' %></div>
                </div>
                <div class="img">
                    <img class="about-img" src="/yubi.jpg">
                </div>
                </br>
                <h5>ウォーミングアップが終わったら、</br>対話ゲームを始めてください。</h5>
                <div class="top-btn">
                    <div class="top-btn2">
                        <%= link_to 'ゲームスタート', pages_game_url, class: 'btn btn-info btn-lg' %></div>
                </div>
                <div class="top-btn">
                    <div class="top-btn2">
                        <%= link_to '哲学しつもん探しへ', pages_philo_url, class: 'btn btn-info btn-lg' %></div>
                </div>

        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>



</br>
</br>