<h1>カテゴリ<%= @category.name %></h1>

<table>
    <thead>
        <tr>
            <td>テーマid</td>
            <td>テーマ名</td>
            <td>質問1</td>
            <td>質問2</td>
            <td>質問3</td>
        </tr>
    </thead>
    <tbody>
        <% @category.themes.each do |theme| %>
        <tr>
            <td><%= theme.id %></td>
            <td><%= theme.name %></td>
            <% theme.questions.each do |question| %>
            <td><%= question.name %><%= question.id %></td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>

<p><%= link_to 'ランダムテーマ', category_themes_random_path(@category) %></p>